@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .primary-btn {
    width: theme("width.full");
    height: theme("height.12");
    background-color: theme("backgroundColor.orange.500");
    color: theme("colors.white");
    font-size: theme("fontSize.base");
    font-weight: theme("fontWeight.medium");
    border-radius: theme("borderRadius.full");
    padding: theme("padding.2") theme("padding.4");
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: theme("backgroundColor.orange.600");
    }
  }

  .primary-title {
    color: theme("colors.gray.800");
    font-size: theme("fontSize.2xl");
    font-weight: theme("fontWeight.semibold");
  }

  .primary-input {
    outline: 2px solid transparent;
    outline-color: theme("colors.transparent");
    background-color: theme("colors.slate.100");
    padding: theme("padding.2") theme("padding.4");
    border-radius: theme("borderRadius.xl");
    color: theme("colors.gray.800");
    font-weight: theme("fontWeight.medium");
    height: theme("height.12");
    width: theme("width.full");

    &:focus {
      outline-color: theme("colors.orange.500");
    }
  }
}

@font-face {
  font-family: "mainFont";
  src: url("/fonts/IranSansX(Pro)/Farsi numerals/IRANSansXFaNum-Regular.ttf");
}

body,
html {
  font-family: "mainFont" !important;
  background-color: #ffff;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Toastify__toast {
  font-family: "mainFont" !important;
}

#auth_bg {
  background-image: url("/images/authImage/auth-pic-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#auth_bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

#auth_bg * {
  z-index: 10;
  position: relative;
}
