@import "tailwindcss";

@font-face {
  font-family: "mainFont";
  src: url("/fonts/IranSansX(Pro)/Farsi numerals/IRANSansXFaNum-Regular.ttf");
}

body,
html {
  font-family: "mainFont" !important;
  background-color: oklch(0.278 0.033 256.848);
}

.Toastify__toast {
  font-family: "mainFont" !important;
}

#shape {
  background-image: url("/images/shape-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
